@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.header {
    background-image: url(../image/bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    padding-bottom: 40px;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
}
.header__menu {
    display: flex;
    height: 60px;
    padding-top: 15px;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
}
.header__nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav__catalog {
}
.btn__catalog {
    width: 123px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    color: white;
    background-color: #2560DC;
}
.nav__search input {
    width: 473px;
    border-radius: 8px;
    border: none;
    height: 36px;
    padding: 0px 16px;
}
.nav__search button {
    position: relative;
    left: -45px;
    top: 2px;
    width: 10px;
    border-radius: 8px;
    border: none;
    height: 36px;
    padding: 0px 16px;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    color: white;
    background-color: transparent;
}
.header__right {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nomber {
    color: white;
    font-size: 16px;
    line-height: 24px;
}
.header__title {
    font-size: 64px;
    color: white;
    font-weight: 600;
    padding: 70px 0px;
}
.header__tabs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.tab__item {
    margin-top: 20px;
}
.tab__item a{
    color: white !important;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    overflow-y: scroll;
}
.demo__box {
    display: flex;
    align-items: center;
    padding-top: 40px;
    gap: 24px;
}
.demo__item {
    background-color: white;
    width: 294px;
    height: 316px;
    border-radius: 10px;
}
.demo__item--content {
    padding: 20px;
    font-size: 24px;
    font-weight: 600;
}
.box__img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.topik {
    margin-top: 80px;
}
.top-ik {
    margin-top: 80px;
}
.topi-k {
    margin-top: 30px;
}
.information {
    display: flex;
    align-items: center;
    gap: 100px;
    padding-top: 30px;
}
.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.block-img {
}
.block-title {
    color: #818C99;
    font-size: 16px;
}
.configuration__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1340px;
    padding: 10px 15px;
    margin: 0 auto;
    height: auto;
}
.conf__text h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 100px;
}
.conf__text a {
    background-color: #2560DC;
    padding: 12px 24px;
    border-radius: 10px;
    color: white !important;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.conf__img {
}
.title__text {
    position: absolute;
}
.title1 {
    background-color: #219CEC;
    padding: 13px 18px;
    border-radius: 15px;
    width: 125px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    position: relative;
    rotate: -10deg;
    top: 40px;
    left: 200px;
}
.title2 {
    background-color: #58AF40;
    padding: 13px 18px;
    border-radius: 15px;
    width: 108px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    position: relative;
    rotate: 12deg;
    top: 80px;
    left: 100px;
}
.title3 {
    background-color: #686764;
    padding: 13px 18px;
    border-radius: 15px;
    width: 108px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    position: relative;
    rotate: -10deg;
    top: 115px;
}
.novinki {
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 100px;
    max-width: 1340px;
    margin: 0 auto;
}
.novinki h1 {
    font-size: 36px;
    font-weight: 600;
}
.box-cards {
}
.box-card {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-img {
    display: flex;
}
.box-mod {
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #58AF40;
    border-radius: 10px;
    padding: 5px 10px;
}
.mod {
    background-color: #219CEC;
}
.card-text {
}
.card-text h3 {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 10px;
}
.card-text span {
    color: #737F8C;
    padding-top: 5px;
    display: inline-block;
}
.card-fns h3 {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 5px;
}
.card-fns span {
    color: #737F8C;
    font-size: 14px;
}
.add-cart {
    padding-top: 25px;
}
.add-cart a {
    padding: 8px 16px;
    border-radius: 10px;
    background-color: #2560DC;
    text-decoration: none;
    color: white !important;
    font-size: 14px;
    font-weight: 600;
}
.add-conf {
    padding-top: 18px;
}
.add-conf a {
    text-decoration: none;
    color: #2560DC !important;
    font-size: 14px;
}
.novovvedenia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1340px; 
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
    padding-bottom: 10px;
}
.novo-img {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
}

.novo-text {
}
.light {
    font-size: 36px;
    font-weight: 600;
}
.no-light {
    margin-top: 30px;
    font-size: 36px;
    color: #c6cace;
    font-weight: 600;
}
.forma {
    margin-top: 100px;
    height: auto;
    padding-bottom: 100px;
}
.form-title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}
sup {
    color: #FF624F;
}
.form {
    margin-top: 40px;
    display: flex;
    max-width: 400px;
    margin: 0 auto;
    padding: 0px 15px;
    flex-direction: column;
    justify-content: center;
}
.form input {
    max-width: 400px;
    height: 48px;
    border-radius: 10px;
    border: 2px solid rgb(228, 215, 215);
    padding: 0px 15px;
    margin-top: 24px;
    outline: none;
}
.form-button {
    background-color: #2560DC;
    border-radius: 10px;
    height: 48px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    border: none;
}
.text-form {
    max-width: 360px;
    margin:  0 auto;
}
.form-subtitle {
    color: #737F8C;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin-top: 16px;
}
.form-text {
    margin-top: 81px;
    text-align: center;
    font-size: 18px;
}
.footer {
    max-width: 1340px;
    margin: 0  auto;
    padding: 0px 15px;
}
.footter {
    display: flex;
    justify-content: space-between;
}
.menu1 {
    padding-top: 10px;
}
.menu1 h1{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 15px;
}
.item-link {
    padding-top: 8px;
}
.item-link a {
    padding-top: 8px;
    color: #0A0806 !important;
    text-decoration: none;
    font-size: 16px;
}
.contacts {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}
.left-contact {
    display: flex;
    gap: 5px;
}
.wa {
}
.tg {
}
.right-contact a {
    color: #2560DC !important;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
}
.info p {
    color: #737F8C;
    font-size: 16px;
    padding-top: 18px;
}
.copy {
    height: 60px;
}
.copy p {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #737F8C;
    font-size: 14px;
}
@media (max-width: 1210px) {
    .nomber {
        display: none;
    }
.header__nav {
    display: none;
}
.information {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.info-item {
    padding-top: 10px;
}
.block-title {
    color: #818C99;
    font-size: 16px;
}
.img-item img {
    height: 70px;
}
.footter {
    flex-wrap: wrap;
}
.header__title {
    font-size: 30px;
    color: white;
    font-weight: 600;
    padding-top: 80px;
    padding-bottom: 35px;
}
.header__tabs {
    gap: 6px;
}
.tab__item a{
    color: white !important;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid white;
    padding: 7px 10px;
    border-radius: 10px;
    overflow-y: scroll;
}
.demo__box {
    display: none;
}
}
@media (max-width: 780px) {
    .novo-img {
        display: none;
    }
    .card-img img {
        height: 100px;
        width: 120px;
    }
    .box-mod {
        position: absolute;
        font-size: 12px;
        font-weight: 600;
        color: white;
        background-color: #58AF40;
        border-radius: 10px;
        padding: 5px 10px;
    }
    .mod {
        background-color: #219CEC;
    }
    .card-text {
    }
    .card-text h3 {
        font-size: 16px;
        font-weight: 800;
        padding-bottom: 10px;
    }
    .card-text span {
        color: #737F8C;
        padding-top: 5px;
        display: inline-block;
    }
    .card-fns h3 {
        font-size: 16px;
        font-weight: 800;
        padding-bottom: 5px;
    }
    .card-fns span {
        color: #737F8C;
        font-size: 14px;
    }
    .add-cart {
        padding-top: 25px;
    }
    .add-cart a {
        padding: 8px 16px;
        border-radius: 10px;
        background-color: #2560DC;
        text-decoration: none;
        color: white !important;
        font-size: 14px;
        font-weight: 600;
    }
    .add-conf {
        padding-top: 18px;
    }
    .add-conf a {
        text-decoration: none;
        color: #2560DC !important;
        font-size: 14px;
    }
.novinki h1 {
        font-size: 25px;
        font-weight: 600;
}
.light {
    font-size: 24px;
    font-weight: 600;
}
.no-light {
    margin-top: 30px;
    font-size: 24px;
    color: #c6cace;
    font-weight: 600;
}
.form-text {
    margin-top: 81px;
    text-align: center;
    font-size: 14px;
}
.form-title {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.conf__text h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    padding-top: 60px;
}
.conf__text a {
    background-color: #2560DC;
    padding: 12px 24px;
    border-radius: 10px;
    color: white !important;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}
.conf__img img {
    height: 240px;
}
.title__text {
 display: none;
}
}
@media (max-width: 484px) {
    .configuration__block {
        column-width: 400px;
    }
    .conf__text {
       text-align: center;
       width: 100%;
    }
    .img-conf {
        display: none;
    }
}