<div class="feed-container">
        <div class="configuration__block">
            <div class="conf__text">
                <h3>Поможем сконфигурировать<br> любой сервер и СДХ <br>под ваш задачи</h3>
                <a href="#">Отправить ТЗ</a>
            </div>
            <div class="conf__img">
                <div class="title__text">
                <div class="title1">Добавить RAM?</div>
                <div class="title2">Слишком <br> мощный БП?</div>
                <div class="title3">Нужен <br>второй CPU?</div>
                </div>
                <div class="img-conf">
                    <img draggable="false" src="catalog/view/image/imgblock2.png" alt>
                </div>
            </div>
        </div>