
    <div class="novinki">
        <h1>Новинки производителей</h1>
        <div class="box-cards">
            <div class="box-card">
                <div class="card-img">
                    <p class="box-mod">Под заказ</p>
                    <img src="catalog/view/image/server.png" alt>
                    <div class="card-text">
                        <h3>DELL R630 8SFF</h3>
                        <span>
    CPU: 1x Intel Xeon E5-2643v3 (6C 20M Cache 3.40GHz)</span><br>
    <span>RAM: 8Гб 1x 8GB DDR4 UDIMM 2400MHz (Поддержка до 64Гб максимально, 4 UDIMM портов)</span><br>
    <span>RAID: Dell H730 (1GB+BBU)</span><br>
    <span>БП: 2x Dell 750W</span><br>
    <span>Network: integrated Network Interface controller Dell 4 port 1Gb</span>
                        
                    </div>
                </div>
                <div class="card-fns">
                    <h3>от 40 000 ₽</h3>
                    <span>Со склада в Китае</span>
                    <div class="add-cart">
                        <a href="#">В корзину</a>
                    </div>
                    <div class="add-conf">
                        <a href="#">Сконфигурировать</a>
                    </div>
                </div>
            </div>
            <div class="box-card">
                <div class="card-img">
                    <p class="box-mod mod">Только у нас</p>
                    <img src="catalog/view/image/server.png" alt>
                    <div class="card-text">
                        <h3>DELL R630 8SFF</h3>
                        <span>
    CPU: 1x Intel Xeon E5-2643v3 (6C 20M Cache 3.40GHz)</span><br>
    <span>RAM: 8Гб 1x 8GB DDR4 UDIMM 2400MHz (Поддержка до 64Гб максимально, 4 UDIMM портов)</span><br>
    <span>RAID: Dell H730 (1GB+BBU)</span><br>
    <span>БП: 2x Dell 750W</span><br>
    <span>Network: integrated Network Interface controller Dell 4 port 1Gb</span>
                        
                    </div>
                </div>
                <div class="card-fns">
                    <h3>от 40 000 ₽</h3>
                    <span>Со склада в Китае</span>
                    <div class="add-cart">
                        <a href="#">В корзину</a>
                    </div>
                    <div class="add-conf">
                        <a href="#">Сконфигурировать</a>
                    </div>
                </div>
            </div>
            <div class="box-card">
                <div class="card-img">
                    <img src="catalog/view/image/server.png" alt>
                    <div class="card-text">
                        <h3>DELL R630 8SFF</h3>
                        <span>
    CPU: 1x Intel Xeon E5-2643v3 (6C 20M Cache 3.40GHz)</span><br>
    <span>RAM: 8Гб 1x 8GB DDR4 UDIMM 2400MHz (Поддержка до 64Гб максимально, 4 UDIMM портов)</span><br>
    <span>RAID: Dell H730 (1GB+BBU)</span><br>
    <span>БП: 2x Dell 750W</span><br>
    <span>Network: integrated Network Interface controller Dell 4 port 1Gb</span>
                        
                    </div>
                </div>
                <div class="card-fns">
                    <h3>от 40 000 ₽</h3>
                    <span>Со склада в Китае</span>
                    <div class="add-cart">
                        <a href="#">В корзину</a>
                    </div>
                    <div class="add-conf">
                        <a href="#">Сконфигурировать</a>
                    </div>
                </div>
            </div>
            <div class="box-card">
                <div class="card-img">
                    <img src="catalog/view/image/server.png" alt>
                    <div class="card-text">
                        <h3>DELL R630 8SFF</h3>
                        <span>
    CPU: 1x Intel Xeon E5-2643v3 (6C 20M Cache 3.40GHz)</span><br>
    <span>RAM: 8Гб 1x 8GB DDR4 UDIMM 2400MHz (Поддержка до 64Гб максимально, 4 UDIMM портов)</span><br>
    <span>RAID: Dell H730 (1GB+BBU)</span><br>
    <span>БП: 2x Dell 750W</span><br>
    <span>Network: integrated Network Interface controller Dell 4 port 1Gb</span>
                        
                    </div>
                </div>
                <div class="card-fns">
                    <h3>от 40 000 ₽</h3>
                    <span>Со склада в Китае</span>
                    <div class="add-cart">
                        <a href="#">В корзину</a>
                    </div>
                    <div class="add-conf">
                        <a href="#">Сконфигурировать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
           <div class="novovvedenia">
        <div class="novo-img">
            <div class="img-item">
                <img src="catalog/view/image/logo1.png" alt>
            </div>
            <div class="img-item">
                <img src="catalog/view/image/logo2.png" alt>
            </div>
            <div class="img-item">
                <img src="catalog/view/image/logo3.png" alt>
            </div>
            <div class="img-item">
                <img src="catalog/view/image/logo4.png" alt>
            </div>
            <div class="img-item">
                <img src="catalog/view/image/logo5.png" alt>
            </div>
        </div>
        <div class="novo-text">
            <h3 class="light">Продаем только<br> оригинальное<br> оборудование<br> напрямую с заводов<br> производителей.</h3>
            <h3 class="no-light">Не б/у,<br> не восстановленные,<br> не реплики,<br> никакой алибабы!</h3>
        </div>
    </div>

    <div class="forma">
        <h1 class="form-title">Подберем любое оборудование<sup>*</sup><br>под ваш запрос</h1>
        <form class="form" action="#">
            <input placeholder="Имя и Фамилия" type="text">
            <input placeholder="Телефон" type="text">
            <input placeholder="Email" type="text">
            <input placeholder="Комментарий (необезательно)" type="text">
            <button class="form-button" type="submit">Отправить</button>
        </form>
        <div class="text-form">
            <span class="form-subtitle">Отправляя заявку, вы соглашаетесь на обработку<br> персональных данных</span>
        </div>
        <p class="form-text">*ноутбуки, настольные компьютеры, телефоны, планшеты и т.д.</p>
    </div>