    <div class="novovvedenia">
        <div class="novo-img">
            <div class="img-item">
                <img src="images/logo1.png" alt>
            </div>
            <div class="img-item">
                <img src="images/logo2.png" alt>
            </div>
            <div class="img-item">
                <img src="images/logo3.png" alt>
            </div>
            <div class="img-item">
                <img src="images/logo4.png" alt>
            </div>
            <div class="img-item">
                <img src="images/logo5.png" alt>
            </div>
        </div>
        <div class="novo-text">
            <h3 class="light">Продаем только<br> оригинальное<br> оборудование<br> напрямую с заводов<br> производителей.</h3>
            <h3 class="no-light">Не б/у,<br> не восстановленные,<br> не реплики,<br> никакой алибабы!</h3>
        </div>
    </div>